* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

#backtop {
  z-index: 9999;
  border: none;
  border-radius: 10px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-color: transparent;
  background-color: #BB2339;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.backtop__link img {
  display: block;
  padding: 15px;
  color: green;
  font-size: red;
}

#backtop.backtop-show {
  bottom: 50px;
}

header {
  background-color: #BB2339;
}

.nav__btn {
  padding: 10px 40px;
  gap: 10px;
  border-radius: 100px;
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  background-color: transparent;
  text-transform: capitalize;
  border: 1px solid #FFF;
}

.nav-item {
  border-radius: 5px;
}

.nav-link {
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

.nav__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 10px;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  background-color: transparent;
  text-transform: capitalize;
  border-radius: 100px;
  border: 1px solid #FFF;
}

#home {
  padding: 144px 0px 257px;
  background-color: #BB2339;
}

.home__wrapper h6 {
  margin-bottom: 20px;
  font-family: Cera Round Pro;
  font-size: 23px;
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.home__wrapper h1 {
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  color: #FFF;
  font-family: Cera Round Pro;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 3.6px;
  text-transform: capitalize;
}
.home__wrapper p {
  max-width: 453px;
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.home__wrapper button {
  padding: 8px 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%;
  background-color: transparent;
  letter-spacing: 0.64px;
  border-radius: 100px;
  border: 1px solid #FFF;
}
.home__wrapper__rigth img {
  max-width: 827px;
}

#popular {
  padding: 120px 0px;
  background: #F8F8F8;
}

.popular__wrapper h2 {
  margin-bottom: 40px;
  color: #BB2339;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}

.carousl__card {
  padding: 20px 20px 40px;
  width: 100%;
  max-width: 310px;
  height: 396px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 14px;
  background: #FFF;
}
.carousl__card .carousel__kabab {
  margin-bottom: 10px;
  width: 100%;
  max-width: 270px;
}
.carousl__card p {
  margin-bottom: 20px;
  max-width: 270px;
  color: #242424;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.carousl__card .carousel__star {
  margin-bottom: 20px;
  width: 100%;
  max-width: 108px;
}
.carousl__card span {
  color: #BB2339;
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#team-carousel {
  position: relative;
}

#team-carousel :is(.owl-prev, .owl-next) {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -60px;
  background-color: transparent;
  border: 1px solid #646464;
  border-radius: 5px;
}

#carousel :is(.owl-prev, .owl-next) {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -60px;
  background-color: transparent;
  border: 1px solid #646464;
  border-radius: 5px;
}

#carousel :is(.owl-prev, .owl-next) {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -60px;
  background-color: transparent;
  border: 1px solid #646464;
  border-radius: 5px;
}

#team-carousel :is(.owl-prev, .owl-next):hover {
  border: 1px solid #BB2339;
}

#team-carousel .owl-prev {
  right: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#team-carousel .owl-next {
  right: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#team-carousel .owl-dot span {
  width: 30px;
  height: 10px;
  background: gray;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#team-carousel .owl-dot.active span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  width: 50px;
  background: red;
}

.bottom__card {
  padding: 30px 50px 30px 20px;
  width: 100%;
  max-width: 410px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  background: #FFF;
}
.bottom__card h4 {
  margin-bottom: 10px;
  color: #333;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.bottom__card p {
  margin-bottom: 21px;
  width: 100%;
  max-width: 340px;
  color: #333;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.7;
}
.bottom__card .carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom__card .carousel__list .carousel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
}

.carousel__card {
  padding: 30px 50px 30px 20px;
  width: 100%;
  max-width: 410px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  background: #FFF;
}
.carousel__card h4 {
  color: #333;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.carousel__card p {
  max-width: 340px;
  color: #333;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.7;
}

#bottom-carousel :is(.owl-prev, .owl-next) {
  background-color: transparent;
  border: 1px solid #646464;
  width: 40px;
  height: 40px;
}

#bottom-carousel :is(.owl-prev, .owl-next):hover {
  border: 1px solid #BB2339;
}

#tab {
  padding: 120px 0px;
}

.tab__card {
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #FFF;
}

.ap-tab-list {
  margin-bottom: 50px;
}

.ap-tab-item {
  padding: 10px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--qizil, #BB2339);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ap-tab-item:hover {
  background: #BB2339;
}

.ap-tab-item:hover .ap-tab-link {
  color: white;
}

.ap-tab-link {
  color: #242424;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}

.customer {
  padding: 100px 0px 90px;
  background: #F4F4F4;
}
.customer__wrapper__top {
  margin-bottom: 60px;
}
.customer__wrapper__top h6 {
  margin-bottom: 8px;
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.customer__wrapper__top h2 {
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}

#news {
  padding: 128px 0px;
}

.news__wrapper__top h6 {
  font-family: Cera Round Pro;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.news__wrapper__top h3 {
  margin-bottom: 60px;
  color: #BB2339;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}
.news__wrapper__middle {
  margin-bottom: 58px;
}
.news__wrapper__middle .news__card {
  max-width: 410px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #FFF;
}
.news__wrapper__middle .news__card img {
  margin-bottom: 20px;
  width: 100%;
  max-width: 410px;
}
.news__wrapper__middle .news__card__content {
  padding: 20px 20px 30px;
}
.news__wrapper__middle .news__card__content h5 {
  color: #242424;
  font-family: Cera Round Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-transform: capitalize;
}
.news__wrapper__middle .news__card__content .span__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news__wrapper__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news__wrapper__bottom button {
  width: 100%;
  max-width: 149px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #242424;
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
  background-color: transparent;
  padding: 8px 32px;
  border-radius: 100px;
  border: 1px solid var(--qizil, #BB2339);
}

#modal {
  padding: 120px 0px;
}

#galerry {
  margin-bottom: 200px;
  padding: 128px 0px 136px;
  background: #F4F4F4;
}

.galerry__wrapper__left {
  width: 100%;
  max-width: 491px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.galerry__wrapper__left h6 {
  color: #242424;
  font-family: Cera Round Pro;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.galerry__wrapper__left h3 {
  color: #242424;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}
.galerry__wrapper__left p {
  color: #AAA;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.galerry__wrapper__left button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #242424;
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--qizil, #BB2339);
}

#footer {
  margin-top: 120px;
  padding: 292px 0px 40px;
  background: #BB2339;
}

.footer-box {
  width: 100%;
  max-width: 1100px;
  left: 210px;
  margin: auto;
  top: -134px;
  padding: 64px 252px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
  border-radius: 20px;
  background-color: #BB2339;
  -webkit-box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
          box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
}
.footer-box h6 {
  font-family: Cera Round Pro;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 130%;
  color: #fff;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.footer-box h2 {
  color: #FFF;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
}
.footer-box p {
  margin-bottom: 64px;
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.footer-box .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.footer-box .form input {
  padding-left: 18px;
  width: 100%;
  max-width: 635px;
  height: 52px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 100px;
  outline: none;
  border: 1px solid rgba(245, 239, 219, 0.5);
  color: var(--AAAAAA, #AAA);
  background-color: transparent;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}
.footer-box .form button {
  width: 100%;
  max-width: 144px;
  padding: 12px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: transparent;
  font-family: Cera Round Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
}

#contact {
  padding: 70px 0px 110px;
}

#backtop {
  z-index: 9999;
  border: none;
  border-radius: 10px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-color: transparent;
  background-color: #BB2339;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.backtop__link img {
  display: block;
  padding: 15px;
  color: green;
  font-size: red;
}

#backtop.backtop-show {
  bottom: 50px;
}

.contact__wrapper__top {
  margin-bottom: 40px;
}
.contact__wrapper__top h1 {
  margin-bottom: 8px;
  color: #242424;
  text-align: right;
  font-family: Cera Round Pro;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.92px;
  text-transform: capitalize;
}

.contact__left__box__card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 100px 27px 20px;
  gap: 25px;
  max-width: 420px;
  height: 110px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #FFF;
}
.contact__left__box__card img {
  border-radius: 50%;
}
.contact__left__box__card__content h4 {
  color: #242424;
  font-family: Open Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
}
.contact__left__box__card__content p {
  color: #242424;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}

.contact__right__box {
  padding: 40px 40px;
  width: 100%;
  max-width: 790px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #FFF;
}
.contact__right__box h2 {
  margin-bottom: 16px;
  color: #242424;
  font-family: Open Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
}
.contact__right__box p {
  margin-bottom: 40px;
  max-width: 565px;
  color: #242424;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.contact__right__box form {
  margin-bottom: 15px;
}
.contact__right__box form input {
  outline: none;
  padding-left: 20px;
  width: 100%;
  max-width: 345px;
  height: 58px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(51, 34, 68, 0.1);
  background: #FFF;
}
.contact__right__box .form-2 textarea {
  outline: none;
  margin-bottom: 25px;
  padding: 20px 0px 0px 20px;
  width: 100%;
  max-width: 710px;
  height: 150px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #FFF;
}
.contact__right__box button {
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 18px 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  gap: 10px;
  border-radius: 39px;
  background: #BB2339;
}

#map {
  padding-bottom: 130px;
}
#map h3 {
  margin-bottom: 40px;
  color: #000;
  text-align: center;
  font-family: Cera Round Pro;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.14px;
  text-transform: capitalize;
}
#map img {
  width: 100%;
}